---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroBanner from "../components/HeroBanner.astro";
import AboutUs from "../components/AboutUs.astro";
import CoreValues from "../components/CoreValues.astro";
import Services from "../components/Services.astro";
import Properties from "../components/Properties.astro";
import CTASection from "../components/CTASection.astro";
import ServiceMap from "../components/ServiceMap.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <HeroBanner />
    <AboutUs />
    <CoreValues />
    <Services />
    <Properties />
    <CTASection />
    <ServiceMap />
    <ContactForm />
  </main>
  <Footer />
</Layout>
